/* half_section*/
#half_section .section_wrapper {
    padding-top: 0;
}

/* first_section */
/*
#first_section {
    height: 20px;
}*/

/* seconc_section*/
#second_section .lillemenu {
    padding-top: 60px;
}

/* third_section*/
#third_section .section_wrapper .Projekt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding-bottom: 30px;
}

#third_section .section_wrapper .Projekt .col {
    background-color: white;
}

#third_section .section_wrapper a {
    color: #d4b892;
    font-family: 'verela_roundregular', sans-serif;
    font-size: 1rem;
    padding-left: 10px;
    padding-top: 20px;
    font-weight: 400;
    text-decoration-line: underline;
}


#third_section h3 {
    text-align: center;
    font-family: 'varela_roundregular';
    font-weight: 100;
}

h2 {
    text-align: center;
}
